section#education

  h2.education-title Education
  section#education-completed
    #front-end
      h3.text-center FRONT-END Courses
    #full-stack
      h3.text-center.type-header FULL-STACK Courses
    
    #software-development
      h2.text-center.type-header Software Development

  section#education-current
    h3.text-center.type-header Current Courses
    
  section#education-future
    h3.text-center.type-header Future Courses
              