footer#contact
      #top-footer.site-nav
        div.footer-sitenav
          ul
            li.sitenav-item
              a(href='#about') About      
            li.sitenav-item
              a(href='#portfolio') Portfolio              
          ul           
              li.sitenav-item
                a(href='#projects') Projects      
              li.sitenav-item
                a(href='#education') Education
        #bottom-footer
          //.col-xs-1.col-sm-1.col-md-1.col-lg-1
          //.col-xs-3.col-sm-2.col-md-2.col-lg-2
          span Made by UndreamtMayhem
          .rights
            - var date = new Date()
            p.text-center 
              | #{date.getFullYear()}&copy; UndreamtMayhem&trade; All rights Reserved &reg; 
          //.col-xs-1.col-sm-3.col-md-3.col-lg-3