header.navbar.navbar-default.navbar-fixed-top
    .container
        a.navbar-brand(href='#') UndreamtMayhem 
        nav#navbar.collapse.navbar-collapse(role='navigation')
            ul.nav.navbar-nav.navbar-right
                li.active
                    a.scrollable(href='#top') About
                li
                    a.scrollable(href='#portfolio') Portfolio
                li.dropdown
                    a.dropdown-toggle(data-toggle='dropdown', href='#')
                        | Projects
                        span.caret
                    ul.dropdown-menu
                        li
                            a(href='#project-completed') Completed
                        li
                            a(href='#project-current') Current
                        li
                            a(href='#project-future') Future
                li.dropdown
                    a.dropdown-toggle(data-toggle='dropdown', href='#')
                        | Education
                        span.caret                      
                    ul.dropdown-menu
                        li
                            a(href='#education-completed') Completed                        
                        li
                            a(href='#education-current') Current
                        li
                            a(href='#education-future') Future
                li
                    a.scrollable(href='#contact') Contact