section#projects
        h2.projects-header-title Projects/work experience             
        section#project-completed
          h3.text-center.text-uppercase.title Completed Projects
        
        section#project-current
          h3.text-center.text-uppercase.title Current Project
          
        section#project-future
          h3.text-center.text-uppercase.title Future Python Projects              
          