{% extends "./partial/base.html" %} {% block title %}About{% endblock %} {% block tabs %} {% endblock %} {% block content
%}
   <section class="image-gallery-section">
            <h2>Photo Gallery</h2>
            <div class="responsive">
                <div class="gallery">
                    <img src="https://dummyimage.com/305" alt="Trolltunga Norway" width="600" height="400">
                </div>
            </div>
            <div class="responsive">
                <div class="gallery">
                    <img src="https://dummyimage.com/305" alt="Forest" width="600" height="400">
                </div>
            </div>
            <div class="responsive">
                <div class="gallery">
                    <img src="https://dummyimage.com/305" alt="Northern Lights" width="600" height="400">
                </div>
            </div>
            <div class="responsive">
                <div class="gallery">
                    <img src="https://dummyimage.com/305" alt="Mountains" width="600" height="400">
                </div>
            </div>
            <div class="responsive">
                <div class="gallery">
                    <img src="https://dummyimage.com/305" alt="Trolltunga Norway" width="600" height="400">
                </div>
            </div>
            <div class="responsive">
                <div class="gallery">
                    <img src="https://dummyimage.com/305" alt="Forest" width="600" height="400">
                </div>
            </div>
            <div class="responsive">
                <div class="gallery">
                    <img src="https://dummyimage.com/305" alt="Northern Lights" width="600" height="400">
                </div>
            </div>

            <div class="responsive">
                <div class="gallery">
                    <img src="https://dummyimage.com/305" alt="Mountains" width="600" height="400">
                </div>
            </div>
            <div class="clearfix"></div>
        </section>
{% endblock %}