body {
    font-family: Roboto, Arial, sans-serif;
    padding: 0px;
    margin: 0px;
}

aside {
    overflow-y: auto;
    height: 100%;
    position: absolute;
    background-color: white;
    width: 30%;
    z-index: 4;
}

.menu-hidden {   
    transform: translate3d(-30em, 0, 0);
    transition: transform 0.2s;
}

        .place-img {
            width: 100%;
            padding: 0px;
        }

        .place-style {
            height: 14%;
            padding: 0px;
            margin-top: -4px;
            background-color: #6666ff;
            color: white;
        }

        .place-name {
            padding: 17px 0 0 20px;
            margin: 0px;

            font-weight: 500;
            font-size: 1.4em;
        }

        .county {
            margin: 5px 0 0 19px;
        }
        .content-header {
            color: grey;
            text-align: center;
            font-weight: 200;
            margin: 10px 0px;
        }

.image-overlay{
    overflow: hidden;
    position: relative; 
    width: 100%; /* for IE 6 */
    box-shadow: 0 2px 4px rgba(0,0,0,0.2), 0 -1px 0px rgba(0,0,0,0.02);
    background-color: white;
}
        .photos-responsive {
            width: 91%;
            margin: 0px;
            padding-top: 15px;
            margin-left: 12px;
        }

.facts-content{
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2), 0px -1px 0px rgba(0,0,0,0.02);
}

        .side-text {
            padding: 0 0 0px 14px;
        }

footer {
    padding: 10px;
    padding-bottom: 34px;
}
/* MAIN   */
.search-bar {
    position: absolute;
    top: 10px;
    bottom: 0px;
    height:30px;
    width: 24%;
    right: 86px;
    z-index: 1;
}

        .search-background{
            width: 100%;
            background-color: white;
            padding: 9px 3px 10px 13px;
            margin: 1px;
            border-radius: 7px;
            box-shadow: 0 2px 4px rgba(0,0,0,0.2), 0 -1px 0px rgba(0,0,0,0.02)
        }


        .hamburger-btn{
            padding: 0px;
            margin: 0px;
            font-size: 1.5em;
            background-color: white;
            border: none;
            float: left;
        }
        .search-input{
            border: none;
            padding-top: 7px;
            padding-left: 9px;
            color: darkgrey;
            font-size: 0.8em;
            font-weight: bold;
            opacity: 0.4;
        }
        .search-btn {
            padding: 0px 10px 0px 0px;
            left: 3px;
            margin: 0px;
            border: none;
            background-color: white;
            font-size: 1.3em;
            margin-left: -5px;
            float: right;
            }

.list-menu {
    left: 3.5%;
    top: 0%;
    position:absolute;
    width: 100%;
    top: 145%;  
}

.places { 

    background-color: white;
    font-size: 0.8em;
    position: absolute;
    width: 100%;
}

.sized-checkbox{
    font-size: 0.8em;
}
.places input { font-family: Arial; }

.sized-radio-btn {
    font-size: 0.8em;
}

.places b { font-weight: bold; }
.places p { margin-top: 0.9em; margin-bottom: 0.9em; margin-left: 10px;}
.place { background-color: #AAEECC; margin: 0 28px; padding: 0.25em; border: 1px solid silver; margin-bottom: 0.5em; font-size: 0.75em; }
.place.visited { background-color: #EECCAA; }
.places input { margin: 0 0.3em 0 1em; }
.places-hidden {visibility: hidden;}


#map {
    position: inherit!important;
}


@media (min-width: 270px) and (max-width: 479px) {
    aside {
        width: 100%;
        z-index: 1;
    }
    .search-bar {
        width: 83%;
        top: 1%;
        right: 47px;
        z-index: 10;
    }
    .list-menu {
        left: 5.5%;   
        top: 145%; 
    }
}

@media (min-width: 480px) and (max-width: 640px) {
    aside {
        width: 65%;
        z-index: 1;
    }
    .search-bar {
        width: 55%;
        padding: 0px;
        margin: 0px;
        position: absolute;
        left: 12px;
        right: 0px;
        top: 10px;
        bottom: 0px;
        z-index: 10;
    }
    .list-menu {
        left: 2.5%; 
        top: 145%;    
    }
}

@media (min-width: 641px) and (max-width: 700px) {
    aside {
        width: 42%;
    }
    .menu-hidden {   
        transform: translate3d(-18em, 0, 0);
        transition: transform 0.2s;
    }
    .search-bar {
        width: 45%;
    }
    .list-menu {
        left: 3.5%;
        top: 145%;  
    }      
}



@media (min-width: 701px) and (max-width: 821px){
    aside {
        width: 50%;
    }
    .search-bar {
        width: 39%;
    }
    .list-menu {
        left: 5.5%;
        top: 145%;  
    }
}

@media (min-width: 822px) and (max-width: 1100px){
    aside {
        width: 42%;
    }
    .list-menu {
        left: 2.5%;

        top: 145%;  
    }
    .search-bar{
        width: 32%;
        
    }
}
