<!DOCTYPE html>
<html>
<title>Update Blog</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
<link rel=stylesheet type=text/css href="/static/css/recentstyles.css">

<body>
    <!-- Image header -->
    <header class="w3-display-container w3-wide" id="home">
        <!-- Navigation bar with social media icons -->
        {% import 'partials/nav.html' as nav_macro %} {{ nav_macro.nav_component(current_user) }}

        <img class="w3-image" src="/static/images/recentbackground.jpg" alt="Fashion Blog" width="1600" height="1060"> {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
        <div class="w3-display-topright w3-panel w3-green">
            <span onclick="this.parentElement.style.display='none'" class="w3-button w3-yellow w3-large w3-display-topright">&times;</span>
            <h3>Success!</h3>
            <p>{{ message }}</p>
        </div>
        {% endfor %} {% endif %} {% endwith %}
        <div class="w3-display-topmiddle w3-padding-large">
            <h1 class="w3-jumbo w3-text-white w3-hide-small">
                <b>Update Blog</b>
            </h1>
            <div class="w3-container w3-margin-top w3-gray">
                {% import 'partials/user_blog_crud/forms/blog_update.html' as blog_update_macro %} {{ blog_update_macro.blog_update_component(single_blog) }}

            </div>
        </div>
    </header>
</body>

</html>