{% extends "./partial/base.html" %} {% block title %}About{% endblock %} {% block head %} {{ super() }}
<link rel="stylesheet" href="../static/css/gallery.css"> {% endblock %} {% block tabs %} {% endblock %} {% block content %}
<section class="carosel-section container">
    <div class="menu-heading">
        <h2>Latest</h2>
        <hr>
        <div class="columns carosel-container">
            <div class=" column is-two-thirds carosel">
                <div class="gallery items-3">
                    <div id="item-1" class="control-operator"></div>
                    <div id="item-2" class="control-operator"></div>
                    <div id="item-3" class="control-operator"></div>
                    <figure class="item">
                        <img src="http://via.placeholder.com/750x750" alt="kitty">
                        <figcaption class="overlay">
                            <h1>1</h1>
                        </figcaption>
                    </figure>
                    <figure class="item">
                        <img src="http://via.placeholder.com/750x750" alt="kitty">
                        <figcaption class="overlay">
                            <h1>2</h1>
                        </figcaption>
                    </figure>
                    <figure class="item">
                        <img class="" src="http://via.placeholder.com/750x750" alt="kitty">
                        <figcaption class="overlay">
                            <h1>3</h1>

                        </figcaption>
                    </figure>
                    <div class="controls">
                        <a href="#item-1" class="control-button">•</a>
                        <a href="#item-2" class="control-button">•</a>
                        <a href="#item-3" class="control-button">•</a>
                    </div>
                </div>
            </div>
            <div class=" column sidemenu">
                <div class="sidemenu-title">
                    <h2 class="text-left">Location + Hours </h2>
                </div>
                <section class="location-addresses">
                    <h3>title</h3>
                    <address class="addresses">
                        bnhvnvghcc, </br> fghfgfhgfhgfghf, </br> fghfgfhgfhgfghf
                    </address>
                    <div class="contacts">
                        <span class="bold">Phone:</span> 000000000 </br>
                        <span class="bold">Email:</span><a href=""> fdgdf@fgdfg.com</a>
                    </div>
                    <div class="columns address-columns">
                        <ul class="column">
                            <li>
                                <span class="bold">Mon - Fri</span></br>
                                <span>7am - 7pm</span>
                            </li>
                            <li>
                                <span class="bold">Sun</span> </br>
                                <span>10am - 2pm</span>
                            </li>
                        </ul>
                        <ul class="column">
                            <li><span class="bold">Sat </span></br>
                                <span>10am - 6pm</span></li>
                            <li> <span class="bold">Holidays</span> </br>
                                <span>Closed</span></li>
                        </ul>
                    </div>
                    <hr class="breaker">
                </section>
                <section class="location-addresses">
                    <h3>title</h3>
                    <address class="addresses">
                        bnhvnvghcc, </br> fghfgfhgfhgfghf, </br> fghfgfhgfhgfghf
                    </address>
                    <div class="contacts">
                        <span class="bold">Phone:</span> 000000000 </br>
                        <span class="bold">Email:</span><a href=""> fdgdf@fgdfg.com</a>
                    </div>
                    <div class="columns address-columns">
                        <ul class="column">
                            <li>
                                <span class="bold">Mon - Fri</span></br>
                                <span>7am - 7pm</span>
                            </li>
                            <li>
                                <span class="bold">Sun</span> </br>
                                <span>10am - 2pm</span>
                            </li>
                        </ul>
                        <ul class="column">
                            <li><span class="bold">Sat </span></br>
                                <span>10am - 6pm</span></li>
                            <li> <span class="bold">Holidays</span> </br>
                                <span>Closed</span></li>
                        </ul>
                    </div>
                </section>
            </div>
        </div>
    </div>
    </div>
</section>{% endblock %}