body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6,
.future-project-desc {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

body {
    line-height: 1.4em;
}

.clear-fix {
    overflow: auto;
}

#education {
    border-bottom: 1px solid dimgrey;
}

#projects {
    border-bottom: 1px solid dimgrey;
}

.education-entry,
.work-entry,
.project-entry {
    padding: 0 5%;
}

h1 {
    font-size: 40px;
    color: white;
    line-height: 48px;
}

h2 {
    font-weight: bold;
    font-size: 24px;
    color: #999;
    line-height: 29px;
    padding: 10px;
}

h3 {
    font-style: italic;
    font-size: 20px;
    color: #000;
    line-height: 22px;
}

h4 {
    font-weight: bold;
    font-size: 14px;
    color: #4a4a4a;
    line-height: 17px;
}

h2,
h3,
h4,
h5 {
    padding: 10px 5%;
}

#header {
    border-bottom: 2px solid grey;
}

.header-text {
    color: #3299ff;
    font-size: 1.2em;
}

.date-text {
    font-style: italic;
    font-size: 14px;
    color: #999;
    line-height: 16px;
    float: right;
}

.date-text,
.work-text {
    padding-top: 10px;
}

.location-text {
    font-style: italic;
    font-size: 14px;
    color: #999;
    line-height: 16px;
    float: right;
}

.course-description {
    padding: 20px 0px 5px 0px;
    font-size: 1.1em;
}

.course-learning {
    padding-bottom: 10px;
}

.online-titles {
    font-size: 1.2em;
    text-align: center;
}

.education-entry h6 {
    font-size: 0.8em;
}

#parse {
    padding: 0px 0px 5px 0px;
}

p {
    font-size: 14px;
    color: #333;
    line-height: 21px;
}

.social-links {
    color: white;
    display: inline;
}

#workExperience h2 {
    text-align: center;
    font-size: 30px;
}

.project-links {
    font-size: 1.4em;
}

#projects h2 {
    text-align: center;
    font-size: 30px;
}

a {
    color: #1199c3;
    text-decoration: none;
    margin-top: 10px;
    display: block;
}

.welcome-message {
    font-style: italic;
    font-size: 18px;
    color: #f3f3f3;
    line-height: 28px;
}

li {
    list-style: none;
}

#skills-h3 {
    color: #3299ff;
    display: none;
}

.orange {
    background-color: #f5ae23;
}

.blue-text {
    color: #3299ff;
}

.white-text {
    font-weight: bold;
    color: #fff;
    line-height: 1.2em;
}

.gray {
    background-color: #f3f3f3;
    padding-bottom: 10px;
    clear: both;
}

.dark-gray {
    background-color: #4a4a4a;
}

#header {
    background-color: #0a0a33;
}

.flex-box {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}

.center-content {
    padding: 2.5% 5%;
}

ul {
    list-style-type: none;
    text-align: center;
}

.biopic {
    float: left;
    padding: 10px;
    width: 200px;
    display: none;
}

img {
    padding: 10px;
}

span {
    padding: 5px;
}

#lets-connect {
    text-align: center;
}

#workExperience {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}


/* Media queries to handle various device widths */

@media only screen and (max-width: 1024px) {
    #lets-connect {
        margin-top: 5%;
    }
}

@media only screen and (max-width:900px) {
    .biopic {
        width: 175px;
    }
}

@media only screen and (max-width: 750px) {
    #lets-connect {
        margin-top: 10%;
    }
    .biopic {
        width: 150px;
    }
    .welcome-message {
        display: none;
    }
}

#map {
    display: block;
    height: 100%;
    margin: 0 5%;
}

#mapDiv {
    height: 400px;
    width: 100%;
    padding-bottom: 5%;
}

@media only screen and (min-width: 750px) {
    #skills-h3,
    .biopic {
        display: block;
        border-radius: 47%
    }
}


/* Personalized styles projects*/

.project-header {
    padding: 10px 0;
}

.programming-languages {
    float: none;
    padding-top: 10px;
}

.project-overview {
    font-weight: bold;
    display: inline;
    text-align: right;
}

#education h2 {
    text-align: center;
}

#online-header {
    text-align: left;
    padding: 20px 0px 0px 0px;
    font-size: 1.4em;
}

.online-url {
    font-size: 0.9em;
}

.online-grade {
    padding: 5px 0 0 0;
}

.future-project-desc {
    padding: 0px;
    font-size: 14px;
}

.project-title {
    font-weight: bold;
    color: black;
}

.objectives {
    padding: 5px 0 7px 28px;
    font-size: 0.9em;
}

.title {
    font-size: 1.3em;
}


/* Personalized styles education*/

.course-title {
    font-size: 1.6em;
    text-align: center;
}

.course-header {
    padding: 0;
}

.language-used {
    font-style: italic;
}

#lets-connect {
    background-color: #0a0a33;
}