{% extends "movietrailer/headeraside.html" %} {% block content %}
<main>
    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
        <h1>Latest Collection</h1>
        <div class="row">
            <div class="col-xs-7 col-sm-7 col-md-7 col-lg-11">
                <div id="carousel-id" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-id" data-slide-to="0" class=""></li>
                        <li data-target="#carousel-id" data-slide-to="1" class=""></li>
                        <li data-target="#carousel-id" data-slide-to="2" class="active"></li>
                        <li data-target="#carousel-id" data-slide-to="3" class=""></li>
                        <li data-target="#carousel-id" data-slide-to="4" class=""></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="item">
                            <img data-src="holder.js/900x500/auto/#777:#7a7a7a/text:First slide" alt="First slide" src="http://placehold.it/350x350">
                            <div class="container">
                                <div class="carousel-caption">
                                    <h1>Example headline.</h1>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <img data-src="holder.js/900x500/auto/#666:#6a6a6a/text:Second slide" alt="Second slide" src="http://placehold.it/350x350">
                            <div class="container">
                                <div class="carousel-caption">
                                    <h1>Another example headline.</h1>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <img data-src="holder.js/900x500/auto/#666:#6a6a6a/text:Third slide" alt="Third slide" src="http://placehold.it/350x350">
                            <div class="container">
                                <div class="carousel-caption">
                                    <h1>Another example headline.</h1>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <img data-src="holder.js/900x500/auto/#666:#6a6a6a/text:Fourth slide" alt="Fourth slide" src="http://placehold.it/350x350">
                            <div class="container">
                                <div class="carousel-caption">
                                    <h1>Another example headline.</h1>
                                </div>
                            </div>
                        </div>
                        <div class="item active">
                            <img data-src="holder.js/900x500/auto/#555:#5a5a5a/text:Fifth slide" alt="Fifth slide" src="http://placehold.it/350x350">
                            <div class="container">
                                <div class="carousel-caption">
                                    <h1>One more for good measure.</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="left carousel-control" href="#carousel-id" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-id" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-11">
                <p>My favorite Countdown</p>
                <h1 class="text-center">movie.title</h1>
                <!-- movie.cover -->
                <iframe width="100%" height="360px" src="https://www.youtube.com/embed/ZZv1vki4ou4">
                </iframe>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-11">
                <div>
                    <p class="text-left pull-left">movie.year</p>
                    <p class="text-right pull-right">movie.genre</p>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-11">
                <p>movie.storyline Woke edison bulb leggings bitters. Roof party copper mug cold-pressed, pug marfa kombucha
                    distillery art party disrupt. Gentrify hexagon flannel disrupt pork belly tumblr. Flexitarian wolf edison
                    bulb knausgaard single-origin coffee. Pok pok cornhole jianbing, sustainable la croix kickstarter 8-bit
                    twee man bun post-ironic shoreditch. Lyft DIY fixie, glossier bespoke pok pok bushwick prism swag PBR&B
                    kickstarter taxidermy. Pop-up actually microdosing, pok pok kickstarter etsy pug truffaut tbh. Green
                    juice fixie chillwave mustache, fingerstache salvia next level vice shabby chic fam. Master cleanse occupy
                    meditation hot chicken. Aesthetic direct trade food truck asymmetrical, DIY try-hard post-ironic jianbing
                    tumblr vinyl squid. Vaporware crucifix polaroid, keytar letterpress mustache aesthetic poke man bun PBR&B
                    flannel man braid microdosing. Tote bag kale chips iPhone, echo park heirloom you probably haven't heard
                    of them raw denim health goth celiac hot chicken bicycle rights live-edge vice four dollar toast. Leggings
                    blog freegan, chicharrones quinoa unicorn semiotics 90's. Hell of authentic forage, blue bottle before
                    they sold out flexitarian locavore.</p>
            </div>
        </div>
    </div>
</main>
{% endblock %}