{% macro posts_component() -%}

<div class="w3-container w3-padding w3-black">
    <h4>Popular Posts</h4>
</div>
<ul class="w3-ul w3-hoverable w3-white">
    <li class="w3-padding-16">
        <img src="https://placeimg.com/640/480/any" alt="Lorem" class="w3-left w3-margin-right" style="width:50px">
        <span class="w3-large">Lorem</span>
        <br>
        <span>Sed mattis nunc</span>
    </li>
    <li class="w3-padding-16">
        <img src="https://placeimg.com/640/480/any" alt="Lorem" class="w3-left w3-margin-right" style="width:50px">
        <span class="w3-large">Lorem</span>
        <br>
        <span>Praes tinci sed</span>
    </li>
    <li class="w3-padding-16">
        <img src="https://placeimg.com/640/480/any" alt="Lorem" class="w3-left w3-margin-right" style="width:50px">
        <span class="w3-large">Workshop</span>
        <br>
        <span>Ultricies congue</span>
    </li>
    <li class="w3-padding-16">
        <img src="https://placeimg.com/640/480/any" alt="Lorem" class="w3-left w3-margin-right w3-sepia" style="width:50px">
        <span class="w3-large">Trends</span>
        <br>
        <span>Lorem ipsum dipsum</span>
    </li>
</ul>
{%- endmacro %}