{% macro profilecard_component(user) -%}

<img class="w3-image" src="/static/images/recentbackground.jpg" alt="Fashion Blog" width="1600" height="1060">
<div class="w3-display-left w3-padding-large">
    <h1 class="w3-jumbo w3-text-white w3-hide-small">
        <b>{{user.Users.first_name}} {{user.Users.last_name}}</b>
    </h1>
    <h1 class="w3-text-white">{{user.Users.username}}</h1>
    <h6>
        <button class="w3-button w3-white w3-padding-large w3-large w3-opacity w3-hover-opacity-off" onclick="document.getElementById('subscribe').style.display='block'">FOLLOW</button>
    </h6>
</div>
{%- endmacro %}