    <aside class="menu-hidden">
        <img class="place-img" src="./img/botallack1.jpg" alt="">
        <div class="place-style">
            <h2 class="place-name">Place Name</h2>
            <p class="county">Cornwall</p>
        </div>
        <h3 class="content-header">Photos</h3>
        <div class="image-overlay">
            <img class="photos-responsive" src="./img/botallack1.jpg" alt="">
        </div>
        <div class="facts-content">
            <h3 class="content-header">Quick Facts</h3>
            <p id="facts-text" class="side-text">Hexagon iceland bushwick disrupt, master cleanse pug ramps drinking vinegar farm-to-table 8-bit vice thundercats.
                Heirloom portland typewriter, prism tumeric thundercats la croix intelligentsia austin glossier letterpress
                selfies chambray actually. Wikipedia</p>
            <p id="secondary-text" class="side-text">Hexagon iceland bushwick disrupt, master cleanse pug ramps drinking vinegar farm-to-table 8-bit vice thundercats.
                Heirloom portland typewriter, prism tumeric thundercats la croix intelligentsia austin glossier letterpress
                selfies chambray actually.</p>
        </div>
        <footer>&copy;2017</footer>
    </aside>