<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
        <script src="./js/libs/jquery.min.js"></script>
        <script src="./js/jquery-ui.js"></script>
        <script src="./js/libs/knockout-3.4.1.js"></script>
        <link rel="stylesheet" href="https://opensource.keycdn.com/fontawesome/4.7.0/font-awesome.min.css" integrity="sha384-dNpIIXE8U05kAbPhy3G1cz+yZmTzA6CY8Vg/u2L9xRnHjJiAK76m2BIEaSEV+/aU"
        crossorigin="anonymous">
        <link rel="stylesheet" href="css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link rel="stylesheet" href="./css/jquery-ui.css">
</head>