{% extends "./partial/base.html" %} {% block title %}About{% endblock %} {% block tabs %} {% endblock %} {% block content %}
<section class="delete-section container">
    <div class="menu-heading">
        <h1> Are you sure you want to delete {{item.name}}? </h1>
        <hr/>
        <form action="#" method='post'>
            <div class="field is-grouped">
                <p class="control">
                    <input class="button is-primary" type='submit' value='Delete'>
                </p>
                <p class="control">
                    <a class="button is-light" href='{{url_for(' menu_restaurants ')}}'> Cancel </a>
                </p>
            </div>
        </form>
    </div>
</section>{% endblock %}