{% extends "./partial/base.html" %} {% block title %}About{% endblock %} {% block tabs %} {% endblock %} {% block content %}
<section class="edit-section container">
    <h1 class="text-center"> </h1>
    <div class="menu-heading">
        <h2>Edit Restaurant</h2>
        <hr/>
    </div>
    <form action="{{ url_for('edit_restaurant',restaurant_id = restaurant.id)}}" method='post'>
        <div class="field">
            <label class="label">Restaurant Name</label>
            <div class="control">
                <input type='text' size='30' name='name' value='{{restaurant.name }}'>
            </div>
        </div>
        <div class="field">
            <label class="label">Restaurant Description</label>
            <div class="control">
                <input type='text' size='30' name='description' value='{{restaurant.description }}'>
            </div>
        </div>
        <div class="field">
            <label class="label">Restaurant Image</label>
            <div class="control">
                <input type='text' size='30' name='image' value='{{restaurant.image }}'>
            </div>
        </div>
        <div class="field is-grouped">
            <p class="control">
                <input class="button is-primary" type='submit' value='Edit'>
            </p>
            <p class="control">
                <a class="button is-light" href='{{url_for(' menu_restaurants ')}}'> Cancel </a>
            </p>
        </div>
    </form>
</section>{% endblock %}