{% extends "base.html" %} {% block content %}

<section class="about-section container">
    <h2>About</h2>
    <p class="about-section-location">London, Paris</p>
    <div class="columns">
        <figure class="column">
            <img class="about-img-container" src="http://via.placeholder.com/750x550" alt="kitty">
            <!--<figcaption>Caption for above image</figcaption>-->
        </figure>
        <div class="column about-text-column">
            <p class="about-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus similique vitae minima perspiciatis, sint minus at voluptas fuga. Nam enim, consequuntur id a culpa ab reprehenderit. Sequi, inventore accusamus quia. Repellendus laborum nostrum provident,
                expedita, maiores reprehenderit obcaecati tenetur beatae fugit. Cumque velit in animi natus, laboriosam, omnis non quis eveniet nostrum cupiditate temporibus harum eum, doloribus qui? Repellendus, obcaecati! Incidunt omnis tenetur ipsa
                quos deserunt, facilis ipsam recusandae. Incidunt voluptatum optio enim aliquid. Quo, molestiae assumenda amet quisquam. Soluta eaque temporibus odit cumque, laborum distinctio mollitia, deserunt voluptatibus assumenda! Sunt, non quos
                id nobis rem alias, consectetur doloremque repellat a nam fugiat quas doloribus dolorem consequuntur provident totam. Optio, aliquam! Architecto mollitia earum minima, ea eveniet quia. Illum, optio.
            </p>
            <a class="button is-primary about-button">Read more</a>
        </div>
    </div>
</section>
{% endblock %}