{% extends "base.html" %} {% block content %}

<section class="menu-section container">
    <div class="menu-heading">
        <h4>Menus</h4>
        <h2>Current Selection</h2>
        <hr/>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non mollitia, enim dolore id accusantium optio dicta ipsam illo unde soluta ab commodi ex, iste quam quo perspiciatis voluptatem animi provident.</p>
    </div>
    <ul>
        <li class="columns menu-columns">
            <div class="column menu-text-column menu-column first">
                <h3 class="menu-item-number">01</h3>
                <h4 class="menu-ingriedents">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis optio adipisci? </h4>
                <p class="menu-item-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus similique vitae minima perspiciatis, sint minus at voluptas fuga. Nam enim, consequuntur id a culpa ab reprehenderit. Sequi, inventore accusamus quia. Repellendus
                </p>
                <ul class="menu-links">
                    <li>
                        <a class="menu-link" href="">View recipe</a>
                    </li>
                </ul>
            </div>
            <figure class="column is-two-thirds menu-column">
                <img class="" src="http://via.placeholder.com/750x550" alt="kitty">
                <!--<figcaption>Caption for above image</figcaption>-->
            </figure>
        </li>
        <li class="columns menu-columns">
            <figure class="column menu-column second">
                <img class="" src="http://via.placeholder.com/750x550" alt="kitty">
                <!--<figcaption>Caption for above image</figcaption>-->
            </figure>
            <div class="column menu-column menu-text-column text-left is-two-thirds">
                <h3 class="menu-item-number">01</h3>
                <h4 class="menu-ingriedents">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis optio adipisci? </h4>
                <p class="menu-item-text text-left">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus similique vitae minima perspiciatis, sint minus at voluptas fuga. Nam enim, consequuntur id a culpa ab reprehenderit. Sequi, inventore accusamus quia. Repellendus
                </p>
                <ul class="menu-links">
                    <li>
                        <a class="menu-link" href="">View recipe</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="columns menu-columns">
            <div class="column menu-column menu-text-column third">
                <h3 class="menu-item-number">01</h3>
                <h4 class="menu-ingriedents">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis optio adipisci? </h4>
                <p class="menu-item-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus similique vitae minima perspiciatis, sint minus at voluptas fuga. Nam enim, consequuntur id a culpa ab reprehenderit. Sequi, inventore accusamus quia. Repellendus
                </p>
                <ul class="menu-links">
                    <li>
                        <a class="menu-link" href="">View recipe</a>
                    </li>
                </ul>
            </div>
            <figure class="column menu-column">
                <img class="" src="http://via.placeholder.com/750x750" alt="kitty">
                <!--<figcaption>Caption for above image</figcaption>-->
            </figure>
            <div class="column"></div>
        </li>
        <li class="columns menu-columns">
            <div class="column menu-column menu-text-column fourth">
                <h3 class="menu-item-number text-left">01</h3>
                <h4 class="menu-ingriedents text-left">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis optio adipisci? </h4>
                <p class="menu-item-text text-left">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus similique vitae minima perspiciatis, sint minus at voluptas fuga. Nam enim, consequuntur id a culpa ab reprehenderit. Sequi, inventore accusamus quia. Repellendus
                </p>
                <ul class="menu-links">
                    <li>
                        <a class="menu-link" href="">View recipe</a>
                    </li>
                </ul>
            </div>
            <figure class="column menu-column">
                <img class="" src="http://via.placeholder.com/750x750" alt="kitty">
                <!--<figcaption>Caption for above image</figcaption>-->
            </figure>
        </li>
        <li class="columns menu-columns">
            <figure class="column menu-column second">
                <img class="" src="http://via.placeholder.com/750x750" alt="kitty">
                <!--<figcaption>Caption for above image</figcaption>-->
            </figure>
            <div class="column menu-column menu-text-column text-left is-two-thirds">
                <h3 class="menu-item-number">01</h3>
                <h4 class="menu-ingriedents">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis optio adipisci? </h4>
                <p class="menu-item-text text-left">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus similique vitae minima perspiciatis, sint minus at voluptas fuga. Nam enim, consequuntur id a culpa ab reprehenderit. Sequi, inventore accusamus quia. Repellendus
                </p>
                <ul class="menu-links">
                    <li>
                        <a class="menu-link" href="">View recipe</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="columns menu-columns">
            <div class="column menu-column menu-text-column third">
                <h3 class="menu-item-number">01</h3>
                <h4 class="menu-ingriedents">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis optio adipisci? </h4>
                <p class="menu-item-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus similique vitae minima perspiciatis, sint minus at voluptas fuga. Nam enim, consequuntur id a culpa ab reprehenderit. Sequi, inventore accusamus quia. Repellendus
                </p>
                <ul class="menu-links">
                    <li>
                        <a class="menu-link" href="">View recipe</a>
                    </li>
                </ul>
            </div>
            <figure class="column menu-column">
                <img class="" src="http://via.placeholder.com/750x750" alt="kitty">
                <!--<figcaption>Caption for above image</figcaption>-->
            </figure>
            <div class="column"></div>
        </li>
        <li class="columns menu-columns">
            <div class="column menu-column menu-text-column fourth">
                <h3 class="menu-item-number text-left">01</h3>
                <h4 class="menu-ingriedents text-left">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis optio adipisci? </h4>
                <p class="menu-item-text text-left">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus similique vitae minima perspiciatis, sint minus at voluptas fuga. Nam enim, consequuntur id a culpa ab reprehenderit. Sequi, inventore accusamus quia. Repellendus
                </p>
                <ul class="menu-links">
                    <li>
                        <a class="menu-link" href="">View recipe</a>
                    </li>
                </ul>
            </div>
            <figure class="column menu-column">
                <img class="" src="http://via.placeholder.com/750x750" alt="kitty">
                <!--<figcaption>Caption for above image</figcaption>-->
            </figure>
        </li>
    </ul>



</section>
{% endblock %}