section.contact
        header.contact-header
            h2.contact-title Lets connect         
        .row
            .col-xs-3.col-sm-3.col-md-3.col-lg-3
            .col-xs-6.col-sm-6.col-md-6.col-lg-6
            h3.text-uppercase.text-center Around the Web
            .col-xs-3.col-sm-3.col-md-3.col-lg-3           
        .row
          .col-xs-12.col-sm-12.col-md-12.col-lg-12
            .row.social-buttons
              .col-xs-0.col-sm-3.col-md-3.col-lg-3
              .col-xs-12.col-sm-3.col-md-3.col-lg-3.social-button-left
              .col-xs-12.col-sm-3.col-md-3.col-lg-3.social-button-right
              .col-xs-0.col-sm-3.col-md-3.col-lg-3                 
            p.social-info
              | Want to get in touch with me? Be it to request more info about myself or my experience programming, to
              | ask for my resume, tips on how to build sites both Front-End and server-side, or random questions
              | about the universe and the meaning of life, or anything related software... just feel free to drop
              | me a message anytime.